header{
    display: flex;
    justify-content: space-evenly;
}
.ol1{
    width: 25em;
    display: flex;
    justify-content: space-evenly;
}
.Lista_Img{
    width: 50%;
}
.Img{
    display: flex;
    justify-content: left;
}
.Batt{
    display: flex;
    justify-content: right;
}
.p_TL{
    display: flex;
    justify-content: space-around;
}