body{
    display: flex;
    justify-content: center;
}
.Padre{
    border: 2px dotted #f6b8b8 ;
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-items: right ;
}
.Hijo1{
    background-color: #ffed99;
    width: 150px;
    height: 150px;
    margin-top: 3em;
    margin-left: 3em;
    z-index: 3;
    position: fixed;

}
.Hijo2{
    background-color: #ac66cc;
    width: 150px;
    height: 150px;
    margin-top: 4em;
    margin-left: 4em;
    z-index: 2;
    position: fixed;

    
}
.Hijo3{
    background-color: #3b14a7;
    width: 150px;
    height: 150px;
    margin-top: 5em;
    margin-left: 5em;
    z-index: 1;
    position: fixed;
}
